
<h2 id="title">JSON editor demo</h2>

{{json-editor-for model
  actionReceiver=jsonEditorFor
  mode=mode onModeChange=(action (mut mode))
  onChange=(action (mut model))
  onObjectID=onObjectID
  onConfigureAce=onConfigureAce
}}

{{#power-select
  options=modes
  selected=mode
  onchange=(route-action 'onModeChange')
  searchEnabled=false
  as |name|
}}
  {{name}}
{{/power-select}}

<button onclick={{route-action 'focus'}}>Focus on editor</button>
<button onclick={{route-action 'expandAll'}}>Expand all</button>
<button onclick={{route-action 'collapseAll'}}>Collapse all</button>
<button onclick={{route-action 'getJSON'}}>Get JSON</button>
<button onclick={{route-action 'refreshModel'}}>Refresh model</button>

